# Ignore node_modules in all folders
**/node_modules/

# Ignore environment files
**/.env

# Ignore system & temporary files
*.log
*.DS_Store
*.lnk
*.url
*.docx
*.pdf
*.pptx
*.py

# Ignore build outputs
dist/
build/

# If you only want to track `backend/` and `client/`
/*
!/backend/
!/client/
!/.gitignore
